<%- include ../layout/header.ejs %>

<h1><%=locals.title%></h1>

<a href="/users/new" class="btn btn-primary">
    <span class="fa fa-user"></span>
    Add user
</a>

<br/>
<br/>

<%if(locals.users != null && locals.users instanceof Array && locals.users.length > 0) {%>

    <table class="table table-responsive">
        <thead>
        <tr>
            <th>Username</th>
            <th>First Name</th>
            <th>Surname</th>
        </tr>
        </thead>
        <% for(var i = 0; i < locals.users.length; i++) { %>
        <tr>
            <td>
                <%= locals.users[i].username %>
            </td>
            <td>
                <%= locals.users[i].firstname %>
            </td>
            <td>
                <%= locals.users[i].surname %>
            </td>
        </tr>
        <%}%>
    </table>

<%} else {%>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">No users</h3>
    </div>
    <div class="panel-body">
        There are no users in the system.
    </div>
</div>

<%} %>

<%- include ../layout/footer.ejs %>